.footer_container {
    min-height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-text-color);
    flex-wrap: wrap;
}
.wrapIT{
    padding-top:2rem;
    min-height: 55vh;
    background-color: rgb(57, 57, 57);
    width: 100vw;
    padding-bottom:1rem;

}
.main_content{
    width:66rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.ul-1 {
    display: flex;
    justify-content: center;
    gap: 1.3rem;
    align-items: center;
    width: 18rem;
    height: 5rem;
}
.ul-1 li{
    list-style: none;
    cursor: pointer;
    font-size: 1.1rem;
}

.ul-2 li, .ul-3 li, .ul-4 li, .ul-5 li, .ul-6 li{
    list-style: none;
    cursor: pointer;
    font-size: 0.8rem;
}

.ul-2 , .ul-3 , .ul-4 , .ul-5 , .ul-6{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.3rem;
    width:8rem;
    height: 12rem;
    margin:2rem;
}

