.sign_container{
    color: var(--white-text-color);
    min-height: 100vh !important;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("../../../images/guitar.jpg");
    background-color: rgba(0,0,0,0.2);
    background-repeat: no-repeat;
    background-size: cover;
}

.signIMG {
    font-size: 1.8rem;
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.fa-circle-left {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.sign_content {
    height: 100vh;
    width: 70rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-right:1rem;
}

.wrap_content {
    display: flex;
    padding-left: 4rem;
    align-items: center;
    height: calc(100vh - 60px);
}

.para17 {
    font-size: 2rem;
}
.para21 a {
    color: rgb(212, 69, 69);
    text-decoration: none;
    cursor: pointer;
}
.para18 {
    margin-top: 1rem;
    font-size: 1.16rem;
}


.sign_box {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(30px);
    min-width: 28rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.email,
.password ,
.name
{
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid var(--white-text-color);
    color: white;
    font-size: 1.2rem;
    width: 20rem;
}



::-ms-reveal {
    filter: invert(100%);
}

::placeholder {
    color: white;
}

.para19 {
    font-size: 3rem;
}

.signin {
    display: flex;
    gap: 2rem;
}

.para16 a {
    color: rgb(212, 69, 69);
    text-decoration: none;
    cursor: pointer;
}
.ch{
    cursor: pointer;
    height: 1rem;
    width:1rem;
}
.sign {
    background-color: var(--btn-bg-color);
    border: none;
    outline: none;
    height: 3rem;
    width: 6rem;
    font-size: 1.2rem;
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
}

.sign:hover {
    background-color: rgb(227, 148, 52);
}

.fa-circle-left {
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

.fa-circle-left a {
    text-decoration: none;
    color: white;
}
.ch1 , .ch2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}
.log_para1 , .log_para2{
    font-size: 0.8rem;
}
@media (max-width: 730px) {
    .sign_container {
        padding-top: 2rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .sign_content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15rem;
    }

    .wrap_content {
        height: auto;
        width: 100vw;
        display: flex;
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
    }

    .signIMG {
        position: static;
    }

    .sign_box {
        min-height: 68vh;
        min-width: 100vw;
    }

}

@media (max-width: 480px) {
    .sign_content {
        height: 17rem;
    }

    .para19 {
        font-size: 2rem;
    }

    .email,
    .password,
    .name
     {
        width: 14rem;
    }
}